
/*Page setting*/
body{
    padding-top: 100px;

}

a{
    text-decoration: none;
}

a:hover{
    text-decoration: none;
    color: #C0C0C0;
}


/*Nav bar section */


.navbar .logo,
.navbar .navbar-nav > li > a {
    color: white;
}

.navbar .logo:visited {
	color: white;
}
.navbar .logo:hover,
.navbar .navbar-nav > li > a:hover {
    color: #C0C0C0;

}
.navbar {
    background-color: black;
    min-height:  80px;
    padding-top: 20px;
}

/*Align H1 and H2 */
h1, h2 {
    text-align: center;
}

.center{
    text-align: center;
}


/*space out sections */

section{
    padding-bottom: 20px;
}

/*pdf second */

.download {
	margin-top: 20px;
}

/*Foot section */

footer {
    min-height: 80px;
    background-color: black;
    color: white;
    padding-top: 15px;
    text-align: center;

}
 footer .contact-email a{
        color: white;
    }
 .small-hide{
        display: none;
    }

/*Above Mobile*/

@media only screen and (min-width: 368px) {


}

/*Above Tablet */
@media only screen and (min-width: 992px) {

    footer{
        padding-top: 30px;
    }
    footer .copyright{
        text-align: left;
    }
    footer .contact-email{
        text-align: right;
    }
    .small-hide{
        display: inline;
    }
    .no-pad{
        padding: 0;
    }

}
