/*Colors
dark dark blue: #293E6B;
medium dark blue: #3B5997;
medium blue: #639BF2;
green: #78BB9C;
gold: #B6A754;
white: white;
grey: #aaa;


/*Page setting*/

body {
    padding-top: 60px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

/*remove right side white space on small screens*/

.html {
    width: 100%;
}
a {
    text-decoration: none;
}
a:hover {
    text-decoration: none;
    color: #C0C0C0;
}
p {
    font-size: 18px;
    margin-bottom: 20px;
}
li {
    font-size: 18px;
    margin-bottom: 10px;
}
whi
/*Align H1 and H2 */

h1,
h2 {
    text-align: center;
}
h2 {
    margin-bottom: 30px;
}

/*Font Colors */

.white h1 {
    color: #B6A754;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 25px;
    text-align: center;
    margin-bottom: 20px;
}
.white h1 {
    color: #3B5997;
}
.white p,
.white li,
.white h3 {
    color: #293E6B;
}
.blue h2 {
    color: #FEFFFD;
    text-transform: uppercase;
    font-size: 30px;
    font-weight: bold;
}
.blue h3 {
    color: white;
}
.blue p,
.blue li,
.blue span {
    color: white;
}

/*Nav bar section */

.navbar .logo,
.navbar .navbar-nav > li > a {
    color: white;
}
.navbar .logo:visited {
    color: white;
}
.navbar .logo:hover,
.navbar .navbar-nav > li > a:hover {
    color: #C0C0C0;
}
.navbar {
    background: linear-gradient(to bottom, rgba(59, 89, 151, 1) 0%, rgba(99, 155, 242, 1) 100%);
    min-height: 80px;
    padding-top: 20px;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: white!important;
}

/*simple formatting classes*/

.center {
    text-align: center;
}
.caps {
    text-transform: capitalize;
}
.margin-bottom {
    margin-bottom: 35px;
}
.bold {
    font-weight: bold;
}
.gold {
    color: #B6A754;
}
.green {
    color: #78BB9C;
}
.bigger {
    font-size: 20px;
}
.not-bullet {
    list-style-type: none;
}
.underline {
    text-decoration: underline;
}

/*space out sections */

section {
    padding-top: 40px;
    padding-bottom: 40px;
}

/*color for each secion */

.blue {
    background: linear-gradient(to bottom, rgba(59, 89, 151, 1) 0%, rgba(99, 155, 242, 1) 100%);
}

/*pdf second */

.download {
    margin-top: 20px;
}
.header button {
    background-color: #78BB9C;
    color: black;
    font-size: 20px;
    border: 2px solid black;
    font-weight: bold;
}
.header a:hover button {
    background-color: black;
    color: #78BB9C;
}

/*form section */

#warning {
    font-weight: bold;
    color: #B6A754;
}

/*form message div */

#message {
    border: 1px solid white;
    border-radius: 10px;
    margin-bottom: 40px;
    text-align: center;
    padding: 10px 0;
}

/*
@keyframes blink {
	0% {color: white}
	50% {color: red}
}
*/

#message-p {
    margin: 0;
    font-size: 20px;
    color: white;
}
#message-date {
    font-size: 20px;
    margin-right: 5px;
}
.contact-form {
    text-align: center;
}
.contact-form #foxyform_embed_link_789621 {
    display: none!important;
}
iframe {
    max-width: 100%!important;
}

/*Foot section */

footer {
    min-height: 80px;
    padding-top: 15px;
    text-align: center;
}
footer .contact-email a {
    color: inherit;
}
.small-hide {
    display: none;
}

/*Above Mobile*/

@media only screen and (min-width: 368px) {
    iframe {
        max-width: none;
    }
}

/*Above Tablet */

@media only screen and (min-width: 992px) {
    footer {
        padding-top: 30px;
    }
    footer .copyright {
        text-align: left;
    }
    footer .contact-email {
        text-align: right;
    }
    .small-hide {
        display: inline;
    }
    .no-pad {
        padding: 0;
    }
    .white h1 {
        font-size: 40px;
        margin-bottom: 20px;
    }
    #message {
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: 60px;
    }

}
